@use 'sass:map';
@use 'variables' as *;

.custom-button {
  font-size: toRem(14);
  font-weight: 700;
  padding: toRem($button-padding-y) toRem($button-padding-x);
  border: none;
  border-radius: toRem($button-border-radius);
  color: white;
  cursor: pointer;
  background-color: map.get($colors, 'brand-primary-dark');
  transition: background-color 300ms linear;
  &:hover {
    background-color: map.get($colors, 'brand-primary-light');
    transition: background-color 300ms linear;
  }
  &:disabled,
  &[disabled] {
    background-color: map.get($colors, 'neutral-lightest');
    color: map.get($colors, 'neutral-medium');
    cursor: not-allowed;
  }
  &:active {
    background-color: map.get($colors, 'brand-primary-darkest');
  }
}
