// Primary color
$colors: (
  'brand-primary-darkest': #002c37,
  'brand-primary-dark': #0a4a5b,
  'brand-primary-medium': #00586f,
  'brand-primary-light': #11728b,
  'brand-primary-lightest': #7fabb7,

  // Secondary color
  'brand-secondary-darkest': #7a6019,
  'brand-secondary-dark': #c49a28,
  'brand-secondary-medium': #f5c132,
  'brand-secondary-light': #f8d36f,
  'brand-secondary-lightest': #fbe6ad,

  // Neutral
  'neutral-darkest': #1a1a1a,
  'neutral-dark': #4f4f4f,
  'neutral-medium': #9e9e9e,
  'neutral-light': #d8d8d8,
  'neutral-lightest': #ededed,
  'neutral-white': #ffffff,

  // Feedback
  // Success
  'feedback-success-darkest': #225230,
  'feedback-success-dark': #337b47,
  'feedback-success-medium': #44a45f,
  'feedback-success-light': #8fc89f,
  'feedback-success-lightest': #daeddf,

  // Warning
  'feedback-warning-darkest': #736a11,
  'feedback-warning-dark': #ad9f1a,
  'feedback-warning-medium': #e6d422,
  'feedback-warning-light': #f0e57a,
  'feedback-warning-lightest': #faf6d3,

  // Danger
  'feedback-danger-darkest': #730c1f,
  'feedback-danger-dark': #ad112f,
  'feedback-danger-medium': #e6173e,
  'feedback-danger-light': #f0748b,
  'feedback-danger-lightest': #fad1d8,

  // Info
  'feedback-info-darkest': #1e536b,
  'feedback-info-dark': #2d7da1,
  'feedback-info-medium': #3ca6d6,
  'feedback-info-light': #8acae6,
  'feedback-info-lightest': #d8edf7,
);

// Gradients
$color-linear-gradient-primary: linear-gradient(90deg, #053542 0%, #00586f 100%);
$color-linear-gradient-secondary: linear-gradient(90deg, #7a6019 0%, #f5c132 100%);
$color-linear-gradient-neutral-01: linear-gradient(90deg, #1a1a1a 0%, #9e9e9e 100%);
$color-linear-gradient-neutral-02: linear-gradient(90deg, #9e9e9e 0%, #ededed 100%);

// Font
$font-family: 'Montserrat';
$secondary-font-family: 'Roboto Slab';
$font-size-base: 14;

// Buttons
$button-border-radius: 20;
$button-padding-x: 32;
$button-padding-y: 10;

// Inputs
$input-border-radius: 8;
