@import 'variables';
@import 'functions';
@import 'mixins';
@import 'typography';
@import 'grid';

html {
  height: 100%;
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: red;
  }
}
