<main class="typography">
  <h1 class="heading-01">app works!</h1>
  <h1 class="heading-02">app works!</h1>
  <h1 class="heading-03">app works!</h1>
  <h1 class="heading-04">app works!</h1>
  <h1 class="heading-05">app works!</h1>
  <h1 class="heading-06">app works!</h1>
  <h1 class="heading-07">app works!</h1>

  <h1 class="subtitle-01">app works!</h1>
  <h1 class="subtitle-02">app works!</h1>
  <h1 class="subtitle-03">app works!</h1>
  <h1 class="subtitle-04">app works!</h1>

  <h1 class="paragraph-01">app works!</h1>
  <h1 class="paragraph-02">app works!</h1>
  <h1 class="paragraph-03">app works!</h1>
  <h1 class="paragraph-04">app works!</h1>

  <router-outlet />
</main>
