<div class="form-group custom-input pt-2 pb-1 pl-3 pr-3">
  <label class="m-0 p-0" [htmlFor]="fieldName">{{ label }}</label>

  <input
    [type]="type"
    [name]="fieldName"
    [value]="value"
    (input)="onChange($event)"
    (blur)="touched()"
    id="controled-input"
    [placeholder]="placeholder" />
</div>

<div *ngIf="formField.invalid && formField.touched" class="warning typography">
  <p class="paragraph-04 m-0 p-0 pl-3">This field is required.</p>
</div>

<div>{{ formField.invalid && formField.touched }}</div>
