@use 'sass:map';
@import '_variables';
@import '_functions';

.custom-input {
  border: toRem(1) solid map.get($colors, 'neutral-medium');
  border-radius: toRem($input-border-radius);
  margin-bottom: toRem(18);
  label {
    display: block;
    font-size: toRem(10);
    font-weight: 700;
    color: map.get($colors, 'brand-primary-medium');
  }

  input {
    border: none;
    padding: toRem(3) 0;
    width: 100%;
    font-size: toRem(12);

    &:focus {
      outline: none;
    }
  }

  &.disabled {
    background-color: map.get($colors, 'neutral-lightest');
    label {
      color: map.get($colors, 'neutral-medium');
    }
    input {
      background-color: map.get($colors, 'neutral-lightest');
      color: map.get($colors, 'neutral-medium');
      cursor: not-allowed;
    }
  }

  &.error {
    border-color: map.get($colors, 'feedback-danger-medium');
  }
}

.warning {
  color: map.get($colors, 'feedback-danger-medium');
  margin-top: toRem(-15);
}
