<div class="col col-12">
  <h2 class="typography heading-07 color-brand-primary-darkest">INSERIR CLIENTE</h2>

  <div class="row">
    <div class="col col-8 pr-3" [formGroup]="form">
      <app-input label="Name" fieldName="name" [parentForm]="form" formControlName="name" />
    </div>

    <div class="col col-4" [formGroup]="form">
      <app-input label="CPF" fieldName="documentNumber" [parentForm]="form" formControlName="documentNumber" />
    </div>
  </div>

  <div class="col-12 p-4">
    {{ form.value | json }}
  </div>
</div>
